/* Add CSS Styling */
.odd-number {
    background-color: #ffc0cb;
    font-family:Verdana, "DejaVu Sans", sans-serif
}

.odd-number.three {
font-size: 24px;
}

#number-two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#number-four {
background-color: #90ee90;
font-size: 24px;
font-weight: bold;
}